*{
    margin: 0;
    padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px 0;
  height: 30px;
}

.menu {
  position: absolute;
  left: 20px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 17px;
}

header p:hover{
    color: rgb(69, 69, 222);
}

header img {
    margin-left: 120px;
    height: 60px;
    position: absolute;
    left: 41%;
    transform: translateX(-50%);
}

.card{
    padding: 10px;
    border: none;
    color: black;
    background-color: white;
    margin-left: 1100px;
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
}

.card:hover{
    color: rgb(26, 123, 243);
}

.PC{
    padding: 10px;
    border: none;
    color: black;
    background-color: white;
    text-decoration: none;
}

.PC:hover{
    color: rgb(26, 123, 243);
}


.sign{
    padding: 10px;
    border: none;
    background-color: white;
}

.sign:hover{
    color: rgb(26, 123, 243);
}


.login{
    width: 100px;
    height: 40px;
    border-color: black;
    border-radius: 20px;
    background-color: white;
    font-size: 10px;
}

.login:hover{
    background-color: rgb(26, 123, 243);
    border: none;
    color: white;
}

.overlay{
  background-image: url(https://rs.nxfs.nexon.com/bannerusr/25/12/ljBB10100912768.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 418px;
}

.game{
    line-height: 200px;
    margin-left: 50px;
    font: Bold;
    font-size: 35px;
    height: 160px;
}

.mint{
    color: rgb(78, 231, 231);
    line-height: 30px;
    margin-left: 50px;
    display: inline-block;
}

.left{
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    display: inline-block;
    margin-left: 490px;
}

.right{
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    display: inline-block;
    margin-right: 1px;
}

.center1{
    display: inline-block;
    margin-left: 210px;
    margin-right: 30px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.center{
    margin-right: 30px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.center1:hover{
    color: rgb(26, 123, 243);
}

.center:hover{
    color: rgb(26, 123, 243);
}

.game-container {
  display: flex;
  justify-content: left;
  align-items: center;
}

.game-item1 {
    min-width: 200px;
    text-align: center;
    display: inline-block;
    margin-left: 50px;

}

.game-item {
    min-width: 200px;
    text-align: center;
    display: inline-block;
}

.game-box {
    display: inline;
    margin-top: 30px;
    width: 180px;
    height: 250px;
    background-color: #e0e0e0;
    cursor: pointer;
    display: flex;
    margin-right: 1px;
}

.game-container p{
    text-align: center;
}

.login-box {
  width: 450px;
  height: 250px;
  border: 1px solid #ccc;
  background: white;

  line-height: 30px;
  margin-top: 30px;
  margin-left: 40px;
}

.id{
    width: 400px;
    height: 50px;
    border: none;
    background-color: black;
    color: white;
    font: bold;
    font-size: 15px;
    margin-left: 3px;
    margin-top: 20px;
    cursor: pointer;
}

.id:hover{
    background-color: rgb(26, 123, 243);
}

.QR {
    display: inline;
    background-color: gray;
    color: white;
    border: none;
    width: 196px;
    height: 50px;
    margin-left: 3px;
    margin-top: 5px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    cursor: pointer;
}

.QR:hover{
    background-color: rgb(26, 123, 243);
}


button.QR {
  display: inline-block;
}

.and {
    background-color: lightgray;
    border: none;
    color: white;
    width: 400px;
    height: 40px;
    margin-left: 3px;
    margin-top: 20px;
    text-align: center;
}

.login-box p {
  text-align: center;
  display: inline-block;
  margin: 0 10px;
  margin-top: 10px;
  cursor: pointer;
}

.login-box p:hover {
    color: rgb(26, 123, 243);
}

.login-box {
  text-align: center;
}

.sign-out {
    margin-left: 10px;
}

























.scroll {
    height: 100px;
}